useDynLib(DiGGer, .registration = TRUE)

## Export all names
exportPattern("^[^\\.]")

## Import all packages listed as Imports or Depends
import(
    R.oo,
    R.methodsS3,
    MASS
)

S3method(print, DiGGer)
S3method(setCorrelation, DiGGer)
S3method(getCorrelation, DiGGer)
S3method(getBlock, DiGGer)
S3method(setBlock, DiGGer)
S3method(addBlock, DiGGer)
S3method(deleteBlock, DiGGer)
S3method(getSeeds, DiGGer)
S3method(setSeeds, DiGGer)
S3method(getNumberOfTreatments, DiGGer)
S3method(getTreatmentVarianceRatio, DiGGer)
S3method(setTreatmentVarianceRatio, DiGGer)
S3method(getDesignLayout, DiGGer)
S3method(getReplicateLayout, DiGGer)
S3method(getNumberOfSearchPhases, DiGGer)
S3method(getPhase, DiGGer)
S3method(setPhase, DiGGer)
S3method(addPhase, DiGGer)
S3method(deletePhase, DiGGer)
S3method(getObjective, DiGGer)
S3method(setObjective, DiGGer)
S3method(addObjective, DiGGer)
S3method(deleteObjective, DiGGer)
S3method(getSwapBlock, DiGGer)
S3method(setSwapBlock, DiGGer)
S3method(getCorrelationBlock, DiGGer)
S3method(setCorrelationBlock, DiGGer)
S3method(getAType, DiGGer)
S3method(setAType, DiGGer)
S3method(getTargetAValue, DiGGer)
S3method(setTargetAValue, DiGGer)
S3method(getMaxInterchanges, DiGGer)
S3method(setMaxInterchanges, DiGGer)
S3method(getSearchIntensity, DiGGer)
S3method(setSearchIntensity, DiGGer)
S3method(getNumberOfObjectives, DiGGer)
S3method(getNumberOfBlocks, DiGGer)
S3method(getObjectiveWeight, DiGGer)
S3method(setObjectiveWeight, DiGGer)
S3method(getLinearCovariate, DiGGer)
S3method(setLinearCovariate, DiGGer)
S3method(summary, DiGGer)
S3method(plot, DiGGer)
S3method(getDesign, DiGGer)
S3method(getIntermediateDesign, DiGGer)
S3method(getInitialDesign, DiGGer)
S3method(setInitialDesign, DiGGer)
S3method(getConcurrence, DiGGer)
S3method(run, DiGGer)
S3method(getError, DiGGer)
S3method(print, Block)
S3method(print, Correlation)
S3method(print, Phase)
S3method(getObjective, Phase)
S3method(setObjective, Phase)
S3method(addObjective, Phase)
S3method(deleteObjective, Phase)
S3method(getSwapBlock, Phase)
S3method(setSwapBlock, Phase)
S3method(getCorrelationBlock, Phase)
S3method(setCorrelationBlock, Phase)
S3method(getAType, Phase)
S3method(setAType, Phase)
S3method(getTargetAValue, Phase)
S3method(setTargetAValue, Phase)
S3method(getMaxInterchanges, Phase)
S3method(setMaxInterchanges, Phase)
S3method(getSearchIntensity, Phase)
S3method(setSearchIntensity, Phase)
S3method(getNumberOfObjectives, Phase)
S3method(getCorrelation, Phase)
S3method(setCorrelation, Phase)
S3method(getNumberOfBlocks, Phase)
S3method(getBlock, Phase)
S3method(setBlock, Phase)
S3method(addBlock, Phase)
S3method(deleteBlock, Phase)
S3method(getObjectiveWeight, Phase)
S3method(setObjectiveWeight, Phase)
S3method(getLinearCovariate, Phase)
S3method(setLinearCovariate, Phase)
S3method(print, Objective)
S3method(getCorrelation, Objective)
S3method(setCorrelation, Objective)
S3method(getNumberOfBlocks, Objective)
S3method(getBlock, Objective)
S3method(setBlock, Objective)
S3method(addBlock, Objective)
S3method(deleteBlock, Objective)
S3method(getObjectiveWeight, Objective)
S3method(setObjectiveWeight, Objective)
S3method(getLinearCovariate, Objective)
S3method(setLinearCovariate, Objective)





