# last modified 2020-04-20 by J. Fox

importFrom("stats", "complete.cases", "cor", "dnorm", "na.omit",
         "optim", "optimise", "pchisq", "pnorm", "qnorm", "sd")

importFrom("parallel", "detectCores")

export(hetcor, polychor, polyserial)

export(detectCores)

S3method(hetcor, data.frame)
S3method(hetcor, default)
S3method(print, polycor)
S3method(print, hetcor)
S3method(as.matrix, hetcor)
